*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#con{
  background-color: brown;
  color: burlywood;
}
.box{
  width: 300px;
  height: 500px;
  background-color: cadetblue;
  color: aliceblue;
  
}